* {
    /* border: 1px solid blue; */
    font-family: 'Poppins', sans-serif;

}

body {
    /* background-image: url("https://images.pexels.com/photos/33130/typewriter-keys-mechanically-letters.jpg");
    background-position: left center; */
    background-color: #F6E8E6;
    
}

.copyText p {
    font-family: 'Raleway', sans-serif;

}

/* header styling */
header#header {
    width: 100%;
    height: 5em;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: solid black 1px;
} 

header#header h1 {
    /* margin: 4% 0 4% 5%; */
    /* color: #e90000; */
    color: #000000;
    display: inline-block;
    font-size: 3em;
    font-weight: 400;
    margin: 1px 0 0 20px;  
    letter-spacing: 7px; 
}

header#header ul {
    /* margin: 0 0 0 60%; */
    display: inline-block;
    position: absolute;
    right: 1%;
    top: 4%;
}

li.menuItem {
    display: inline;
    padding-right: .4em;
}

a {
    color: black;
    text-decoration: none;
    transition: .1s;
    font-size: 1.4em;
}


/* a:visited {
    color: black;
} */

a:hover {
    color: #D50000;
    text-decoration: none;
}

.nav-bar-underline {
    border-bottom: 2px solid #AA0000;
    border-top: 2px solid #AA0000;
    padding: .1em 0;
    color: #AA0000;
    font-weight: 700;
} 

/* end header styling */


div#spacer {
    height: 10em;
}

#btn-response {
    text-align: center;
}

#btn-response a {
    text-decoration: underline;
    color: rgb(255, 30, 30);
}

#js-demo {
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
}

#js-btn {
    font-size: 2em;
    width: 5em;
    border: 1px solid red;
    /* display: block; */
    /* align-self: center; */
}


/* Blog CSS */

.blogEntries article {
    /* background-color: rgba(35, 35, 35, 0.723); */
    /* border: solid red 1px; */
}

.copyText {
    color: black;
    padding: 1em 1em 2em 1em;
    line-height: 1.8em;
    border: solid black 1px;
    margin: 1.3em auto;
    width: 50%;
}

.copyText h2 {
    font-weight: 400;
}

.copyText a {
    border-bottom: solid black 1px;
}

code {
    font-family: monospace;
    font-size: 1.2em;
}

div.code-block {
    background-color: white;
    padding: 1em;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}