* {
    /* border: 1px solid blue; */
    font-family: 'Poppins', sans-serif;

}
/* header styling */
header#header {
    width: 100%;
    height: 10em;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .75;
} 

header#header h1 {
    margin: 4% 0 4% 3%;
    color: #e90000;
    display: inline-block;
    font-size: 3em;
    margin: 1px 0 0 10px;  
    letter-spacing: 7px; 
}

header#header ul {
    /* margin: 0 0 0 60%; */
    display: inline-block;
    position: absolute;
    right: 3%;
    top: 4%;
}

li.menuItem {
    display: inline;
    padding-right: .4em;
}

a {
    color: #e90000;
    text-decoration: none;
    transition: .4s;
    font-size: 1.4em;
}


a:visited {
    color: #e90000;
}

a:hover {
    color: #520303;
    text-decoration: none;
}

.nav-bar-underline {
    border-bottom: 2px solid #e90000;
} 

/* end header styling */


div#spacer {
    height: 10em;
}

p.redText {
    color: #ff5252;
    
}

body {
    background-image: url("https://images.pexels.com/photos/33130/typewriter-keys-mechanically-letters.jpg");
    background-position: center right;
    
}